<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<img src="img/feedback.jpeg" alt="feedback">

<div class="container">
    <form method="post">
        <table class="table table-light">
            <tr>
                <td>
                    <label>First name:</label>
                </td>
                <td>
                    <input type="text" name="fname"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Last name:</label>
                </td>
                <td>
                    <input type="text" name="lname"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label >Email:</label>
                </td>
                <td>
                    <input type="text" name="email" value="<%= email %>"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label >Favourite flower:</label>
                </td>
                <td>
                    <input type="text" name="fflower"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label >Favourite pizza type:</label>
                </td>
                <td>
                    <input type="text" name="fpizza"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label >Your comments:</label>
                </td>
                <td>
                    <textarea class="input-group-text" placeholder="Enter your user feedback" name="feedback"><%= feedback %></textarea>
                </td>
            </tr>
        </table>

        <input type="submit" value="Submit" name="submit" class="btn btn-success">

    </form>
</div>

</body>

</html>
